@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather+Sans:400,300,300italic,400italic,700,700italic,800,800italic);

/* Typography */
body { 
  font-size: modular-scale(1);
  font-family: $primary-font;
}
h1 {
  font-size: modular-scale(4);
  font-family: $secondary-font;
  font-weight: 900;
  margin:.35em 0;
}

h2 {
  font-size: modular-scale(3);
  font-family: $secondary-font;
  font-weight: 900;
  margin:.35em 0;
}
h3 {
  font-size: modular-scale(2);
  font-family: $secondary-font;
  font-weight: 900;
  margin:.25em 0;
}
h4, h5, h6 {
  font-size: modular-scale(1);
  text-transform: uppercase;
  font-family: $secondary-font;
  font-weight: 900;
  margin:0.35em 0;
}
h1 + h2 {
  margin-top:0
}

p {
  font-size: 1.125em;
  line-height:1.45;
  letter-spacing: .01rem; 
  margin-bottom: 30px;
  color:$grey;
}

.lead {
  font-size: 1.45em;
  line-height: 1.45;
  letter-spacing: .05rem;
  font-family: $secondary-font;
}

/* Blockquote */
blockquote {
  font-size: 1.4em;
  line-height: 1.6;
  font-weight: 100;
  padding: 30px;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 3px;
}

em {
  font-style: italic;
}