.content-list {
	margin: 20px 0;

	article {
		display:inline-block;
		padding: 50px 0;
    border-top: 1px solid rgba($grey, 0.25);

   &:first-child {
 			border-top: 0;
 		}
	}
}


article.type-post {
	display:inline-block;
	padding: 50px 0;
  border-top: 1px solid $lite-grey;

 &:first-child {
 	border-top: 0;
 }
 a {
 	text-decoration: none;
 }
}
.featured-image {
	width:100%;
	// margin-bottom: 20px;
	@include breakpoint(small) { @include span-columns(4); }

	img {
		width: 100%;
		height:auto;
	}
}
.featured-content {
	width:100%;
	@include breakpoint(small) { @include span-columns(8); }

	h3 {
		margin-top:0;
	}

	a {
		text-decoration: none;
	}
}


.widget_recent_entries {
  h2 {
    font-size: 1.2em;
    margin-bottom: 50px;
    text-align: center;
    font-family: $primary-font;
    font-weight: 600;
    color: $gold;
  }
  li {
		width:100%;
		@include breakpoint(small) {
			margin-right: 3%;
    	width: 30%;
		}
    vertical-align: top;
    margin-bottom: 20px;
    line-height: 1.2;
		.post-date {
			font-size: 14px;
			color: $grey;
			display: block;
			margin-top:5px;
		}
		a {
			font-family: $secondary-font;
			color: black;
			font-weight: 600;
			text-decoration: none;
		}
 }
}
