.sub-pages {
	margin: 20px 0;

	article {
		margin-bottom: 40px;
		display:inline-block;
	}
}

.featured-image {
	width:100%;
	margin-bottom: 20px;
	@include breakpoint(small) { @include span-columns(4); }

	img {
		width: 100%;
		height:auto;
	}
}
.featured-content {
	width:100%;
	@include breakpoint(small) { @include span-columns(8); }

	h4 {
		margin-top:0;
	}

	a {
		text-decoration: none; 
	}
}