.countdown {
	background: url(images/countdown-bg.gif);
	color:white;
}
.is-countdown {
	width:75%;
	padding-top:65px;
	margin:0 auto;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	font-size: 30px;
	text-align: center;
}
.countdown-amount {
    font-size: 200%;
    font-weight: bold;
}
.countdown-period {
    display: block;
    margin-top:20px;
    text-transform: lowercase;
}
.countdown-descr {
	display: block;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.is-countdown {
		width:92%;
		padding-top:35px;
		margin:0 auto;
	}
	.countdown-section {
		float:none;
		padding-bottom:50px;
		width:92%;
		text-align: center;
		margin:0 auto;
	}

}