.countdown {
	@include row();
	background: url(images/countdown-bg.gif);
	color:white;
	text-align:center;
	padding: 2em 0;

	h5 {
		font-style: italic;
	}

	.countdown-buttons {
		display: inline-block;
		margin:3em 0;
		width: 100%;
		
		.button {
			background:transparent;
			border-color:white;
			color:white;

			&:first-child {
				margin-right: 10px;
			}
		}
	}
}
.is-countdown {
	width:55%;
	padding-top:35px;
	margin:0 auto;
	font-family: $secondary-font;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: white;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	font-size: 30px;
	text-align: center;
}
.countdown-amount {
  font-size: 200%;
  font-weight: bold;
}
.countdown-period {
  display: block;
  margin-top:0px;
  text-transform: uppercase;
  color:#f4d9ac;
  font-size: 1em;
}
.countdown-descr {
	display: block;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.is-countdown {
		width:92%;
		padding-top:35px;
		margin:0 auto;
	}
	.countdown-section {
		float:none;
		padding-bottom:50px;
		width:92%;
		text-align: center;
		margin:0 auto;
	}

}