.email-signup {
  background:#76899d url(images/ref-email-signup.png);
  background-repeat: no-repeat;
  background-position: right;
  text-align: center;
  padding: 100px 0;

  .row {
    max-width: 1180px;
    margin:auto;
  }

  h2 {
    font-family: 'Merriweather', serif;
    text-transform: none;
    font-weight: bold;
    color:white;
    font-size: 1.85em;
  }

  p {
    color:rgba(255, 255, 255, .6);
    font-weight: 100;
    margin: 1em 0 0;
  }

  form {
    margin: 25px auto 0;
    max-width: 660px;
  }

}
