.email-signup {
  background:#76899d url(images/ref-email-signup.png);
  background-repeat: no-repeat;
  background-position: right;
  text-align: center;
  padding: 100px 0;

  .row {
    max-width: 1180px;
    margin:auto;
  }

  h2 {
    font-family: 'Merriweather', serif;
    text-transform: none;
    font-weight: bold;
    color:white;
    font-size: 1.85em;
  }

  p {
    color:rgba(255, 255, 255, .6);
    font-weight: 100;
    margin: 1em 0 0;
  }

  form {
    margin: 25px auto 0;
    max-width: 660px;
  }

}
.wpcf7-form-control-wrap .button-primary {
  margin: 20px auto;
  float: none;
  display: block;
  background: black;
}

div.wpcf7-mail-sent-ok {
    background-color: rgb(153, 226, 205);
    padding: 30px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.3);
    border-radius: 3px;
    color: #206d57;
    /* width: 80%; */
    margin: 20px auto;
    font-family: "Montserrat",Helvetica,sans-serif;
    font-weight: 900;
    max-width: 550px;
    border: 0;
}

div.wpcf7 img.ajax-loader {
  border: none;
  vertical-align: middle;
  margin-left: 4px;
  position: absolute;
  left: 46.4%;
  width: 90px;
  margin-top: 0;
  background-color: $orange;
  padding: 18px 30px 10px;
}