.grid-list {
	width:100%;
	display: inline-block;

	article {
		@include breakpoint(small) { @include span-columns(4); }
		margin-bottom: 30px;

	&:nth-child(3n+0) {
		margin-right:0;
		}
	}

.featured-image {
	width:100%;
	margin-bottom: 20px;
	
	img {
		width: 100%;
		height:auto;
	}
}

}