.ref-quotes {
	width:100%;
	display: inline-block; 
	text-align:center;

	&.luther-quote-01 {
		background: url(images/ref-dietofworms-bg.jpg);
		background-size:cover;
		color:white;
	}

	&.luther-quote-02 {
		background: url(images/ref-luther-music.jpg);
		background-size:cover;
		color:$darkslate;
	}

	&.luther-quote-03 {
		background: url(images/ref-luther-cranach.jpg);
		background-size:cover;
		color:white;
	}

	&.luther-quote-04 {
		background: url(images/ref-luther-communion.jpg);
		background-size:cover;
		color:$darkslate;
	}

	&.luther-quote-05 {
		background: url(images/ref-luther-rose.jpg);
		background-size:cover;
		color:white;
	}

	&.luther-quote-06 {
		background: url(images/ref-luther-engraving.jpg);
		background-size:cover;
		color:white;
	}

	.container {
		padding: 150px 130px;
	}

	q {
		font-size: 1.45em;
  	line-height: 1.45;
  	letter-spacing: .05rem;
  	margin-bottom: 20px;
	}

	.quote-reference {
		color: rgba(255, 255, 255, 0.5);
		font-style: 1em;
	}

}