.tweet-feed {
	@include outer-container;
	padding: 60px 0 ;
}
#content .rotatingtweets, #content .norotatingtweets {
	border: none;
	margin: 0;
}

#content .rotatingtweets, #content .norotatingtweets, .rotatingtweets_nextprev, .rtw_follow.follow-button {
	@include span-columns(6);
	@include shift(3);
}

.rotatingtweets_nextprev {
	margin-bottom: 20px;
	text-align: center;
}
.cycle-carousel-wrap {
	width:100%;
}