.tweet-feed, .cff-wrapper {
	@include span-columns(6);	
}
#content .rotatingtweets, #content .norotatingtweets {
	border: none;
	margin: 0;
}

#content .rotatingtweets, #content .norotatingtweets, .rotatingtweets_nextprev, .rtw_follow.follow-button {
	
}

.rotatingtweets_nextprev {
	margin-bottom: 20px;
	text-align: center;
}
.cycle-carousel-wrap {
	width:100%;
}