<div class="ref-quotes luther-quote-01">
	<div class="container">
		<q>I am bound by the Scriptures I have quoted and my conscience is captive to the Word of God. I cannot and I will not retract anything, since it is neither safe nor right to go against conscience. I cannot do otherwise, here I stand, may God help me, Amen.</q>
		<p class="quote-reference">[Luther at the Diet of Worms (1521), LW 32:112–13]</p>
	</div>
</div>
<div class="ref-quotes luther-quote-02">
	<div class="container">
		<q>Except for theology there is no art that could be put on the same level with music, since except for theology [music] alone produces what otherwise only theology can do, namely, a calm and joyful disposition.</q>
		<p class="quote-reference">[Letter to Louis Senfl (Oct. 4, 1530), LW 49:428] </p>
	</div>
</div>
<div class="ref-quotes luther-quote-03">
	<div class="container">
		<q>Through this blessed exchange, in which Christ changes places with us (something the heart can grasp only in faith), and through nothing else, are we freed from sin and death and given his righteousness and life as our own.</q>
		<p class="quote-reference">[Sermon at the Baptism of Bernard von Anhalt (April 2, 1540), LW 51:316]</p>
	</div>
</div>
<div class="ref-quotes luther-quote-04">
	<div class="container">
		<q>When our Lord and Master Jesus Christ said, “Repent” [Matt. 4:17], he willed the entire life of believers to be one of repentance.</q>
		<p class="quote-reference">[Ninety-Theses (1517), thesis 1, LW 31:25]</p>
	</div>
</div>
<div class="ref-quotes luther-quote-05">
	<div class="container">
		<q>A mighty fortress is our God.</q>
		<p class="quote-reference">[Hymn (1527), cf. LW 53:284–85]</p>
	</div>
</div>
<div class="ref-quotes luther-quote-06">
	<div class="container">
		<q>We should fear, love, and trust in God above all things.</q>
		<p class="quote-reference">[Small Catechism (1529), 1st commandment]</p>
	</div>
</div>
<div class="ref-quotes luther-quote-07">
	<div class="container">
		<q>A Christian is a perfectly free lord of all, subject to none. A Christian is a perfectly dutiful servant of all, subject to all.</q>
		<p class="quote-reference">[Freedom of a Christian (1520), LW 31:344]</p>
	</div>
</div>

<ul>
	<li><a href="">Concordia Seminary, St. Louis, MO</a></li>
	<li><a href="">Concordia Seminary, Fort Wayne, ID</a></li>
</ul>

<div class="email-signup-sidebar">
	<p>News, events, resources, and ways to get involved—delivered straight to your inbox.</p>
<form class="button-inset"><input id="text" type="email" placeholder="Enter Email" /><button class="button button-primary" type="submit">Sign Up</button></form>
</div>

<div class="hymn-competition-sidebar">
	<h4>Reformation Hymn Competition</h4>
	<p>Join the ranks of Reformation hymn writers.</p>
<a href="/worship/hymn-competition" class="button">Learn More</a>
</div>

<div class="community-grant-sidebar">
	<h4>Stand With Your Community Grant</h4>
	<p>Up to $1 million available! <span>Deadline Nov. 16</span></p>
<a href="/get-involved/stand-with-your-community-grant/" class="button">Learn More</a>
</div>

<div class="logo-sidebar">
	<h4>LCMS Reformation Anniversary Logo</h4>
	<img src="/wp-content/uploads/2015/09/reformation2017-logo-color-vr-233x300.jpg">
	<p>Learn the meaning of the Reformation 2017 logo, download it, as use it as a tool to witness to others.</p>
<a href="/resources/reformation-logo/" class="button">Learn More</a>
</div>