The world was changing. New scientific discoveries had opened pathways for understanding more about our complex universe. The ocean, once feared for its danger and depth, was tamed for travel and trade. Peasants and workers, laboring under harsh and relentless conditions, sought revolution. The bubonic plague had claimed the lives of about 75 million people from 1347 to 1351. It continued to reappear and panic European cities. Political alliances, long forged between pope and prince, fractured as power centers shifted. Gutenberg’s press (1455), the first to use movable type, transported ideas from one person to the next with swiftness and ease. As the medieval era collapsed into the modern, changes seemed everywhere and limitless.

Yet even during these changing times one thing remained constant: our God, who grants forgiveness and grace to His people through Jesus Christ. Despite advances and transformations in science and society, politics and publication, God was working. He gave hope and life by His Spirit through Word and Sacraments. He bestowed comfort and joy in trying and often perilous situations. In changing times, His promises through His Son did not change, nor will they ever. They will never be altered, nor revoked. His Word pronounces us righteous through faith in His Son, Jesus Christ. He alone is our Life and our Peace.

Significant people and events in the “Old World” as well as the “New” have been included for the years 1436 to 1600. Additional references include scientific discoveries, substantive works of art, and the arrivals of European explorers to the Americas. Items in bold indicate writings and events specifically relating to the Lutheran Confessions.
This timeline confirms what we know by experience: change will take place. But in changing times God’s Word reminds us that He is always faithful to His people. With hearty confidence and trust we can say with King David, “My times are in Your hands” (Psalm 31:15).


<!-- timeline-content -->

<section id="timeline_activity" class="timeline">
	<div id="timeline" class="container">

<div class="timeline-block">
          <div class="timeline-img bounce-in">
          </div> <!-- timeline-img -->
          <div class="timeline-content bounce-in">
                <h3>1400</h3>
                <p><b>1436</b> &mdash; John Gutenberg invents movable-type printing press</p>
                <p><b>1444</b> &mdash; First European slave market, Lagos, Portugal</p>
                <p><b>1448</b> &mdash; Portuguese establish first trading post in Africa</p>
                <p><b>1449</b> &mdash; Lorenzo de’ Medici born, January 1</p>
</div>
</div>

<div class="timeline-block">
          <div class="timeline-img bounce-in">
          </div> <!-- timeline-img -->
          <div class="timeline-content bounce-in">
                <h3>1450</h3>

				<p><b>1450</b> &mdash; 
                    <ul>
                        <li>Portuguese bring African slaves to Cape Verde Islands</li>
                        <li>Inca Empire flourishes in Peru</li>
                    </ul>
                </p>
				<p><b>1451</b> &mdash; 
                    <ul>
                        <li>The Vatican Library founded</li>
                        <li>Cardinal Nicholas of Cusa orders Jews in the Netherlands to wear identification badges</li>
                    </ul>
                </p>

                <p><b>1452</b> &mdash; Leonardo da Vinci born, April 15</p>
                <p><b>1453</b> &mdash; Constantinople falls to the Turks</p>
                <p><b>1455</b> &mdash; Gutenberg Bible printed</p>
                <p><b>1456</b> &mdash; Pope sees comet; calls for prayer against "The Devil, the Turk, and the Comet"</p>
                <p><b>1457</b> &mdash; King James II of Scotland bans football (soccer) and golf for distracting young men from combat training</p>
                <p><b>1459</b> &mdash; Jacob Fugger, Imperial banker, born, March 6</p>
                <p><b>1463</b> &mdash; Frederick the Wise born, January 17</p>
                <p><b>1465</b> &mdash; Johann Staupitz born</p>
                <p><b>1466</b> &mdash; Erasmus born</p>
                <p><b>1468</b> &mdash; John the Steadfast born, June 30</p>
                <p><b>1472</b> &mdash; Lucas Cranach the Elder born in Kronach, Oberfranken</p>
                <p><b>1473</b> &mdash; Copernicus born, February 19</p>
		  </div>
</div>

<div class="timeline-block">
          <div class="timeline-img bounce-in">
          </div> <!-- timeline-img -->
          <div class="timeline-content bounce-in">
                <h3>1475</h3>
                <p><b>1475</b> &mdash; Michelangelo born, March 6</p>
                <p><b>1481</b> &mdash; Spanish Inquisition against Jews, Muslims, and heretics begins</p>
				<p><b>1483</b> &mdash; 
                    <ul>
                        <li>Raphael, artist, born, April 16</li>
                        <li>Martin Luther born in Eisleben, November 10; baptized November 11</li>
                        <li>Nicholas Amsdorf born, December 3</li>
                    </ul>
                </p>
				<p><b>1484</b> &mdash; 
                    <ul>
                        <li>Ulrich Zwingli born, January 1</li>
                        <li>Papal bull condemns witchcraft; inquisitors sent to Germany</li>
                    </ul>
                </p>
				<p><b>1485</b> &mdash; 
                    <ul>
                        <li>John Bugenhagen born at Wellin, Pomerania, June 24</li>
                        <li>Gregory Brück born at Belzig</li>
                        <li>Botticelli paints The Birth of Venus</li>
                    </ul>
                </p>
                <p><b>1486</b> &mdash; John Eck born, November 13</p>
                <p><b>1487</b> &mdash; Diaz sails around the Cape of Good Hope</p>
				<p><b>1492</b> &mdash; 
                    <ul>
                        <li>Columbus reaches the Americas</li>
                        <li>First lead pencils used</li>
                        <li>Corn discovered by Columbus</li>
                        <li>First known reference to tobacco</li>
                        <li>Ferdinand and Isabella expel 100,000 Jews from Spain</li>
                    </ul>
                </p>
				<p><b>1493</b> &mdash; 
                    <ul>
                        <li>Justas Jonas born in Nordhausen, June 5</li>
                        <li>Pope divides discoveries in the New World between Spain and Portugal</li>
                    </ul>
                </p>
				<p><b>1494</b> &mdash; 
                    <ul>
                        <li>Charles VIII of France invades Italy</li>
                        <li>Sulayman the Magnificent born, November 6</li>
                        <li>Earliest report of Scots making whiskey</li>
                    </ul>
                </p>
                <p><b>1495</b> &mdash; 
                    <ul>
                        <li>Da Vinci begins painting Last Supper; completed 1497</li>
                        <li>William Tyndale born in Slymbridge, England</li>
                    </ul>
                </p>
                <p><b>1496</b> &mdash; 
                    <ul>
                        <li>Michelangelo begins sculpting Pieta</li>
                        <li>Santo Domingo founded in New World</li>
                        <li>Pope Alexander VI gives his son as hostage to Charles VIII of France</li>
                    </ul>
                </p>
                <p><b>1497</b> &mdash; 
                    <ul>
                        <li>Philip Melanchthon born, February 16</li>
                        <li>Copernicus makes first recorded European astronomical observations, March 9</li>
                        <li>Dürer publishes Apocalypse woodcuts</li>
                        <li>Hans Holbein the Younger, artist, born in Augsburg</li>
                        <li>Savonarola hanged in Florence, May 23</li>
                        <li>John Cabot discovers Newfoundland</li>
                    </ul>
                </p>
                <p><b>1498</b> &mdash; 
                    <ul>
                        <li>Vasco de Gama reaches India</li>
                        <li>Toothbrush invented</li>
                    </ul>
                </p>
                <p><b>1499</b> &mdash; 
                    <ul>
                        <li>Katherina von Bora born in Lippendorf, January 29</li>
                        <li>John Brentz born in Weil, Württemberg, June 24</li>
                        <li>Louis XII of France seizes Milan</li>
                    </ul>
                </p>
		  </div>
</div>

<div class="timeline-block">
          <div class="timeline-img bounce-in">
          </div> <!-- timeline-img -->
          <div class="timeline-content bounce-in">
                <h3>1500</h3>
                <p><b>1500</b> &mdash; 
                    <ul>
                        <li>Charles V born in Ghent, February 24</li>
                        <li>Pope Alexander VI proclaims Jubilee Year; calls for crusade against Turks</li>
                        <li>Aldus Manutius, Italian printer who founded the Venice Academy for the study of Greek classics and invented Italic type, born</li>
                        <li>World population estimated at 400 million, 100 million in Europe and Russia</li>
                    </ul>
                </p>
                <p><b>1501</b> &mdash; Luther enters University of Erfurt (receives Master of Arts in philosophy, 1505)</p>
                <p><b>1502</b> &mdash; 
                    <ul>
                        <li>Michelangelo begins sculpting David</li>
                        <li>Frederick the Wise, Elector of Saxony, founds University of Wittenberg</li>
                        <li>First portable timepiece created in Nürnberg</li>
                    </ul>
                </p>
				<p><b>1503</b> &mdash; 
                    <ul>
                        <li>John Frederick the Magnanimous born at Torgau, June 30</li>
                        <li>Da Vinci begins painting the Mona Lisa</li>
                    </ul>
                </p>
                <p><b>1504</b> &mdash; Philip of Hesse born in Marburg, November 13</p>
				<p><b>1505</b> &mdash; Luther in thunderstorm, July 2; enters monastery, July 17</p>
				<p><b>1506</b> &mdash; 
                    <ul>
                        <li>Pope Julius II lays cornerstone of St. Peter’s Basilica, Rome</li>
                        <li>Luther takes final vows as Augustinian Monk, autumn</li>
                    </ul>
                </p>
				<p><b>1507</b> &mdash; 
                    <ul>
                        <li>Luther ordained priest at Erfurt Cathedral, April 3</li>
                        <li>Luther celebrates first Mass, May 2; begins study of theology</li>
                    </ul>
                </p>
				<p><b>1508</b> &mdash; 
                    <ul>
                        <li>Michelangelo begins painting Sistine Chapel; completed 1512</li>
                        <li>Luther appointed substitute lecturer in moral philosophy at University of Wittenberg</li>
                    </ul>
                </p>
				<p><b>1509</b> &mdash; 
                    <ul>
                        <li>John Calvin born in Noyon, France, July 10</li>
                        <li>Luther obtains Bachelor of Theology degree, March 9; returns to Erfurt</li>
                        <li>Henry VIII becomes king of England</li>
                        <li>Pope Julius II excommunicates the city of Venice</li>
                    </ul>
                </p>
		  </div>
</div>


<div class="timeline-block">
          <div class="timeline-img bounce-in">
          </div> <!-- timeline-img -->
          <div class="timeline-content bounce-in">
                <h3>1510</h3>
                <p><b>1510</b> &mdash; 
                    <ul>
                        <li>First African slaves brought to the New World (Haiti)</li>
                        <li>Luther sent to Rome on mission for Augustinian order</li>
                        <li>Wheelock firearm introduced in Nürnberg, Germany</li>
                    </ul>
                </p>
                <p><b>1511</b> &mdash; Luther sent to Wittenberg University to serve as professor, takes over chair of Staupitz at Wittenberg</p>
                <p><b>1512</b> &mdash; 
                    <ul>
                        <li>Luther awarded Doctor of Theology degree, October 18–19</li>
                        <li>Fifth Lateran Council begins; ends in 1517</li>
                    </ul>
                </p>
				<p><b>1513</b> &mdash; 
                    <ul>
                        <li>Ponce de Leon reaches Florida</li>
                        <li>Portuguese explorers reach China</li>
                        <li>Balboa reaches Pacific Ocean</li>
                        <li>Pope Leo X begins pontificate, March 11</li>
                        <li>Luther’s “tower experience,” spring</li>
                        <li>Luther begins lectures on Psalms</li>
                    </ul>
                </p>
                <p><b>1514</b> &mdash; Albert of Brandenburg, cardinal, Archbishop of Mainz, and elector, begins his reign</p>
                <p><b>1515</b> &mdash; 
                    <ul>
                        <li>Luther begins lectures on Romans</li>
                        <li>Index of Prohibited Books adopted at Fifth Lateran Council</li>
                        <li>Coffee from Arabia appears in Europe</li>
                    </ul>
                </p>
				<p><b>1515</b> &mdash; 
                    <ul>
                        <li>Luther begins lectures on Romans</li>
                        <li>Index of Prohibited Books adopted at Fifth Lateran Council</li>
                        <li>Coffee from Arabia appears in Europe</li>
                    </ul>
                </p>
				<p><b>1516</b> &mdash; 
                    <ul>
                        <li>Erasmus publishes Novum Instrumentum, first Greek New Testament</li>
                        <li>Luther begins first lecture series on Galatians</li>
                        <li>Reinheitsgebot law enacted in Bavaria to assure pure beer</li>
                        <li>Music printed on engraved plates used for first time in Italy</li>
                    </ul>
                </p>
				<p><b>1517</b> &mdash; 
                    <ul>
                        <li>Pope Leo X declares indulgence for rebuilding of St. Peter’s</li>
                        <li>Luther nails Ninety-five Theses to Castle Church door in Wittenberg, October 31</li>
                        <li>Hernandez de Cordoba reaches Yucatan</li>
                        <li>Hernando Cortes reaches Aztec capital Tenochtitlan (Mexico City)</li>
                    </ul>
                </p>
				<p><b>1518</b> &mdash; 
                    <ul>
                        <li>Philip Melanchthon comes to Wittenberg University</li>
                        <li>Heidelberg Disputation, April</li>
                        <li>Process against Luther begins in Rome</li>
                        <li>Luther appears before Cardinal Cajetan in Augsburg, October–November</li>
                        <li>Luther appeals to General Council, refuses to recant</li>
                        <li>Frederick the Wise refuses to surrender Luther, December</li>
                        <li>Forks first used at a banquet in Vienna</li>
                    </ul>
                </p>
				<p><b>1519</b> &mdash; 
                    <ul>
                        <li>Leonardo da Vinci dies, May 2</li>
                        <li>Ulrich Zwingli begins preaching on New Testament</li>
                        <li>Charles V elected Holy Roman Emperor, June 28</li>
                        <li>Leipzig Debate between Luther and Eck, July</li>
                    </ul>
                </p>
		  </div>
</div>



<div class="timeline-block">
<div class="timeline-img bounce-in">
</div> <!-- timeline-img -->
<div class="timeline-content bounce-in">
<h3>1520</h3>

<p><b>1520</b> &mdash; 
	<ul>
		<li>Matthias Flacius born, March 3</li>
		<li>Raphael, artist, dies, April 6</li>
		<li>Leo X issues papal bull Exsurge, Domine, giving Luther sixty days to recant or be excommunicated, June 15</li>
		<li>Lucas Cranach the Elder creates first portrait of Martin Luther, an engraving</li>
		<li>Luther burns the papal bull and a copy of Canon Law, December 10</li>
		<li>Montezuma II, last Aztec ruler, dies</li>
		<li>Chocolate brought from Mexico to Spain</li>
</ul>
</p>
<p><b>1521</b> &mdash; 
	<ul>
		<li>Luther excommunicated by papal bull Decet Romanum Pontificem, January 3</li>
		<li>Hans Holbein the Younger paints The Dead Christ</li>
		<li>Luther appears before Diet of Worms and refuses to recant, April 17–18</li>
		<li>Charles V issues Edict of Worms, declaring Luther a public outlaw and criminal and making it illegal to have Luther’s books, May 25</li>
		<li>Sulayman conquers Belgrade, August</li>
		<li>Frederick the Wise hides Luther at the Wartburg Castle for eleven months</li>
		<li>Luther translates New Testament into German, from December to March 1522</li>
		<li>Philip Melanchthon publishes first Lutheran dogmatic text, Loci Theologici</li>
		<li>Anabaptist Thomas Münzer begins preaching against infant Baptism</li>
		<li>Hernando Cortes conquers Mexico</li>
</ul>
</p>
<p><b>1522</b> &mdash; 
	<ul>
		<li>Luther returns from Wartburg, March 6</li>
		<li>Luther preaches the Invocavit Sermons against excesses of the Zwickau prophets</li>
		<li>Ban on Luther lifted</li>
		<li>Magellan’s ship, the Victoria, completes circumnavigation of globe, September 6</li>
		<li>Luther’s translation of the New Testament published, September 21</li>
		<li>Martin Chemnitz born at Treuenbrietzen, November 9</li>
		<li>Luther writes Personal Prayer Book, predecessor of Small Catechism</li>
		<li>Charles V establishes Inquisition in Spanish Netherlands; over 2,000 killed</li>
		<li>Ulrich Zwingli begins Reformation in Zurich</li>
		<li>Bible printed in Spain in Hebrew, Greek, Latin, and Arabic</li>
</ul>
</p>
<p><b>1523</b> &mdash; 
	<ul>
		<li>Escaped nuns from Nimbschen, including Katharina von Bora, arrive in Wittenberg, April 7</li>
		<li>p xlii  Heinrich Voes and John Esch, first Lutheran martyrs, burned at stake in Antwerp, July 1</li>
		<li>Luther’s translation of the Pentateuch published, summer</li>
		<li>Luther writes his first hymn</li>
		<li>Luther writes The Baptismal Booklet</li>
</ul>
</p>
<p><b>1524</b> &mdash; 
	<ul>
		<li>Peasants’ War begins, led in part by Thomas Münzer</li>
		<li>Luther’s translation of Psalter published</li>
		<li>Luther resumes lecturing in Wittenberg</li>
		<li>Luther stops wearing monk’s clothing, October</li>
		<li>Achtliederbuch (A Book of Eight Hymns), first Lutheran hymnal, published by John Walter and Luther</li>
		<li>John Staupitz dies, December 28</li>
</ul>
</p>
</div>
</div>

<div class="timeline-block">
<div class="timeline-img bounce-in">
</div> <!-- timeline-img -->
<div class="timeline-content bounce-in">
<h3>1525</h3>
<p><b>1525</b> &mdash; 
	<ul>
		<li>George Blaurock is rebaptized by Conrad Grebel; marks formal beginning of Anabaptist movement</li>
		<li>Frederick the Wise dies, May 5</li>
		<li>John the Steadfast, brother of Frederick, becomes Elector of Saxony</li>
		<li>Luther marries Katharina von Bora, June 13</li>
		<li>Luther’s German Mass first used, December 25</li>
		<li>Luther’s Personal Prayer Book revised and reissued</li>
		<li>William Tyndale visits Luther in Wittenberg; influenced by Luther’s translation, Tyndale’s English translation of the New Testament is printed in Worms; over 18,000 copies eventually smuggled into England</li>
		<li>First Lutheran ordination takes place in Wittenberg</li>
		<li>Luther works on new church order for Saxony</li>
	</ul>
</p>
<p><b>1526</b> &mdash; 
	<ul>
		<li>Albrecht Dürer paints The Four Apostles</li>
		<li>Diet of Speyer grants German princes right to establish religion in their territory</li>
		<li>Church visitation begins to assess needs of congregations</li>
		<li>Hans Luther born, June 7</li>
		<li>Sulayman captures all of Hungary, Battle of Mohács, August 29</li>
	</ul>
</p>
<p><b>1527</b> &mdash; 
	<ul>
		<li>Plague strikes Wittenberg; the Luthers turn their home into a hospital</li>
		<li>Luther writes “A Mighty Fortress”</li>
		<li>Mutinous troops of Charles V sack Rome, May</li>
		<li>Elizabeth Luther born, December 10</li>
	</ul>
</p>
<p><b>1528</b> &mdash; 
	<ul>
		<li>Patrick Hamilton, Lutheran martyr, executed, February 29</li>
		<li>Jacob Andreae born in Waiblingen, March 25</li>
		<li>Albrecht Dürer dies, April 6</li>
		<li>Elizabeth Luther dies, August 3</li>
		<li>Melanchthon prepares Visitation Articles for inspection of Lutheran pastors and congregations in Saxony; Luther participates in one visitation in October</li>
		<li>Luther writes his Confession concerning Christ’s Supper</li>
	</ul>
</p>
<p><b>1529</b> &mdash; 
	<ul>
		<li>Second Diet of Speyer, April, results in the issue of the Protestio, hence giving rise to the label “Protestant,” which the Romanists applied to all who agreed with Luther</li>
		<li>Luther publishes Large Catechism, April, and Small Catechism, May</li>
		<li>Magdalena Luther born, May 4</li>
		<li>Luther, Melanchthon, and Zwingli meet for Marburg Colloquy; unable to agree on Lord’s Supper, October 2–4</li>
		<li>Turks unsuccessfully lay siege to Vienna</li>
		<li>Schwabach Articles written by Luther and others, presented October 16</li>
		<li>Marburg Articles written by Luther</li>
		<li>Sulayman and his Turkish armies lay siege to Vienna p xliii</li> 
	</ul>
</p>
</div>
</div>
<div class="timeline-block">
<div class="timeline-img bounce-in">
</div> <!-- timeline-img -->
<div class="timeline-content bounce-in">
<h3>1530</h3>

<p><b>1530</b> &mdash; 
	<ul>
		<li>Torgau Articles prepared by Luther, Melanchthon, Bugenhagen, and Jonas</li>
		<li>John Eck writes the Four Hundred and Four Articles</li>
		<li>Luther stays at Coburg Castle, April–October</li>
		<li>Augsburg Confession presented to Charles V at Diet of Augsburg, June 25</li>
		<li>Roman Confutation presented, August 3</li>
</ul>
</p>
<p><b>1531</b> &mdash; 
	<ul>
		<li>David Chytraeus born in Ingelfingen, February 26</li>
		<li>Formation of Smalcaldic League, February 27</li>
		<li>Augsburg Confession and Apology published, April–May</li>
		<li>Second edition of Apology (the Octavo edition) published, September</li>
		<li>Ulrich Zwingli dies on Swiss battlefield at Kappel am Albis, October 11</li>
		<li>Martin Luther (son of Martin and Katharina) born, November 9</li>
		<li>Comet appears, eventually known as “Halley’s Comet”</li>
</ul>
</p>
<p><b>1532</b> &mdash; 
	<ul>
		<li>John the Steadfast dies, August 15; his son, John Frederick the Magnanimous becomes Elector with John Ernest</li>
		<li>Religious Peace of Nürnberg signed</li>
		<li>Sulayman repulsed at Vienna; goes no further</li>
		<li>Luther publishes An Admonition to Prayer against the Turks</li>
</ul>
</p>
<p><b>1533</b> &mdash; 
	<ul>
		<li>Paul Luther born, January 28</li>
		<li>Ivan IV (“the Terrible”) becomes Russian czar at age 3</li>
		<li>English King Henry VIII excommunicated, July 11</li>
</ul>
</p>
<p><b>1534</b> &mdash; 
	<ul>
		<li>Hans Lufft publishes first edition of Luther’s complete German Bible; by 1574, Lufft had printed over 100,000 copies of the Luther Bible</li>
		<li>Ignatius of Loyola founds Society of Jesus (Jesuits), August 15</li>
		<li>First complete edition of Luther’s Bible commentaries published</li>
		<li>Henry VIII declares himself to be head of the Church of England</li>
		<li>Margarethe Luther born, December 17</li>
</ul>
</p>
</div>
</div>
<div class="timeline-block">
<div class="timeline-img bounce-in">
</div> <!-- timeline-img -->
<div class="timeline-content bounce-in">
<h3>1535</h3>

<p><b>1535</b> &mdash; Luther begins his last major lecture series, on Genesis</p>

<p><b>1536</b> &mdash; 
	<ul>
		<li>Luther, Melanchthon, and Englishmen Edward Fox and Robert Barnes agree to complete Wittenberg Concord; rejected by Zwinglians</li>
		<li>John Calvin publishes first edition of Institutes of the Christian Religion</li>
		<li>Martyrdom of William Tyndale in Belgium, October 6</li>
		<li>Norway becomes Lutheran</li>
		<li>Menno Simons assumes leadership of Anabaptists</li>
		<li>Henry VIII allows English Bible in England</li>
		<li>John Frederick commissions Luther to prepare articles for the meeting of the Smalcaldic League, December 1</li>
</ul>
</p>
<p><b>1537</b> &mdash; Melanchthon writes Treatise on the Power and Primacy of the Pope for the Smalcaldic League</p>

<p><b>1538</b> &mdash; Luther’s Smalcald Articles published</p>

<p><b>1539</b> &mdash; 
	<ul>
		<li>First volume of Luther’s collected works appears, completed 1558</li>
		<li>Saxony and electoral Brandenburg formally become Lutheran</li>
		<li>Catholic Counter-Reformation begins in earnest</li>
	</ul>
</p>
</div>
</div>
<div class="timeline-block">
<div class="timeline-img bounce-in">
</div> <!-- timeline-img -->
<div class="timeline-content bounce-in">
<h3>1540</h3>

<p><b>1540</b> &mdash; 
	<ul>
		<li>Melanchthon’s Treatise on the Power and Primacy of the Pope published</li>
		<li>Melanchthon publishes his revised Augsburg Confession, the Variata</li>
		<li>Martyrdom of Robert Barnes, Lutheran Confessor, in England, July 30</li>
		<li>p xliv  Wittenberg holds first celebration of anniversary of the Gutenberg press</li>
		<li>Society of Jesus (Jesuits) confirmed by pope, September</li>
	</ul>
</p>
<p><b>1541</b> &mdash; 
	<ul>
		<li>De Soto reaches the Mississippi River, May 8</li>
		<li>Council of Regensburg attempts unity between Rome and Lutherans on justification; the compromise of justification is rejected by John Frederick and others</li>
		<li>Nicholas von Amsdorf consecrated as Bishop of Naumburg-Zeitz by Luther</li>
		<li>Calvin initiates the Reformation in Geneva, which he establishes as a “City of God”</li>
	</ul>
</p>
<p><b>1542</b> &mdash; 
	<ul>
		<li>John Frederick the Magnanimous becomes sole ruler of Saxony</li>
		<li>Magdalena Luther dies, September 20</li>
		<li>Portuguese traders first Westerners to reach Japan</li>
	</ul>
</p>
<p><b>1543</b> &mdash; 
	<ul>
		<li>John Eck dies, February 13</li>
		<li>Copernicus’s On the Revolution of Heavenly Bodies, describing a sun-centered universe, published</li>
		<li>Copernicus dies, May 24</li>
		<li>Territory of Braunschweig becomes Calvinist</li>
		<li>Spanish Catholics begin to burn Protestants at the stake</li>
	</ul>
</p>

<p><b>1544</b> &mdash; 
	<ul>
		<li>Another diet at Speyer appears to grant major concessions to the Lutherans</li>
		<li>First church built to be Lutheran, Torgau Castle Chapel, dedicated by Luther, October 5</li>
		<li>Sweden declares Lutheranism to be state religion</li>
	</ul>
</p>
</div>
</div>
<div class="timeline-block">
<div class="timeline-img bounce-in">
</div> <!-- timeline-img -->
<div class="timeline-content bounce-in">
<h3>1545</h3>

<p><b>1545</b> &mdash; 
	<ul>
		<li>Council of Trent’s first sessions, 1545–47</li>
		<li>Fifth edition of Luther’s Bible, the last under his supervision, is published</li>
		<li>First complete edition of Luther’s writings in Latin is published</li>
	</ul>
</p>
<p><b>1546</b> &mdash; 
	<ul>
		<li>Luther preaches his last sermon, February 14</li>
		<li>Luther dies at Eisleben, February 18</li>
		<li>Luther is buried at Castle Church in Wittenberg, February 22</li>
		<li>Electoral Palatinate becomes Lutheran</li>
	</ul>
</p>
<p><b>1547</b> &mdash; 
	<ul>
		<li>Smalcaldic League defeated by Charles V at Battle of Mühlberg, April 24</li>
		<li>John Frederick the Magnanimous taken captive in battle and exiled to Weimar</li>
		<li>Wittenberg surrendered to save itself and the lives of John Frederick’s wife and sons</li>
		<li>Luther’s Small Catechism is first book printed in Lithuania</li>
	</ul>
</p>
<p><b>1548</b> &mdash; 
	<ul>
		<li>Augsburg Interim published, May 15</li>
		<li>John Frederick the Magnanimous founds Jena College</li>
		<li>Adiaphoristic controversy begins</li>
		<li>Leipzig Interim presented by Maurice, December</li>
	</ul>
</p>
<p><b>1549</b> &mdash;
	<ul>
		<li>Francis Xavier introduces Christianity in Japan</li>
		<li>Matthias Flacius moves to Magdeburg, November 9</li>
	</ul>
</p>
</div>
</div>
<div class="timeline-block">
		  <div class="timeline-img bounce-in">
		  </div> <!-- timeline-img -->
		  <div class="timeline-content bounce-in">
			<h3>1550</h3>

			<p><b>1550</b> &mdash; 
					<ul>
						<li>Calvin writes the Consensus Tigurinus to merge Zwingli and Calvinist views of the Lord’s Supper</li>
						<li>Charles V commands the death penalty for all heresy in the Holy Roman Empire</li>
					</ul>
			</p>
			<p><b>1551</b> &mdash; Council of Trent holds more sessions, 1551–52</p>
			<p><b>1552</b> &mdash; 
					<ul>
						<li>Maurice turns against Charles V, April 5, who then is forced to grant limited legal rights to Lutherans in signing the peace treaty of Passau, August 2</li>
						<li>John Frederick the Magnanimous released from captivity (September 1),   p xlv  moves electoral capital to Weimar</li>
						<li>Katharina von Bora dies in Torgau, December 20</li>
						<li>Joachim Westphal publishes treatise fully exposing Calvinist error on Lord’s Supper</li>
					</ul>
			</p>
			<p><b>1553</b> &mdash; 
					<ul>
						<li>Maurice is killed trying to enforce the peace treaty of Passau, July 9</li>
						<li>Augustus I becomes Elector of all of Saxony</li>
						<li>Lucas Cranach the Elder dies in Weimar, October 16</li>
						<li>Mary Tudor begins her reign, attempts to return England to Catholicism</li>
					</ul>
			</p>
			<p><b>1554</b> &mdash; John Frederick the Magnanimous dies, March 3</p>
	</div>
</div>

<div class="timeline-block">
		  <div class="timeline-img bounce-in">
		  </div> <!-- timeline-img -->
		  <div class="timeline-content bounce-in">
				<h3>1555</h3>

				<p><b>1555</b> &mdash;
					<ul>
						<li>Peace of Augsburg allows Lutherans equal rights in Holy Roman Empire</li>
					<li>Justas Jonas dies in Eisfeld, October 5</li>
					<li>Pope Paul IV begins pontificate, makes stamping out Protestantism high priority</li>
					<li>Pfeffinger publishes treatise on human cooperation in salvation, occasions Synergist controversy</li>
				</p>
				<p><b>1556</b>&mdash; Charles V abdicates throne, retires to monastery in Spain
				<p><b>1557</b>&mdash;
					<ul>
						<li>Gregory Brück dies at Jena, February 15</li>
						<li>Colloquy of Worms (to unite Lutherans and Catholics) fails</li>
				</p>
				<p><b>1558 </b>&mdash;
					<ul>
						<li>Elizabeth I becomes queen of England, restores Reformation via Calvinism</li>
						<li>College of Jena becomes the University of Jena; becomes stronghold of authentic Lutheranism, supplanting Wittenberg</li>
						<li>John Bugenhagen dies in Wittenberg, April 20</li>
						<li>Charles V dies in Spain, September 21</li>
				</p>
				<p><b>1559 </b>&mdash;
					<ul>
						<li>Spanish explorer Tristán de Luna enters Pensacola Bay, Florida, August 14</li>
						<li>John Knox brings Calvinism to Scotland</li>
				</p>
</div>
</div>
		<div class="timeline-block">
		  <div class="timeline-img bounce-in">
		  </div> <!-- timeline-img -->
		  <div class="timeline-content bounce-in">
				<h3>1560</h3>

				<p><b>1560</b> &mdash; Philip Melanchthon dies, April 19</p>

				<p><b>1561</b> &mdash; 
					<ul>
						<li>Naumburg Conference attempts to unite Lutherans; effort fails when it rejects second edition of Augsburg Confession and Apology</li>
						<li>Chemnitz publishes The Lord’s Supper and Judgment on Certain Controversies</li>
					</ul>
				</p>

				<p><b>1563</b> &mdash; 
					<ul>
						<li>Council of Trent ends, settling Roman doctrine and establishing Roman Catholic Church</li>
						<li>Council of Trent orders clothes to be painted on nude figures on Michelangelo’s Last Judgment panel in Sistine chapel</li>
						<li>Heidelberg Catechism approved, widely adopted by Reformed churches</li>
					</ul>
				</p>

				<p><b>1564</b> &mdash; 
					<ul>
						<li>Galileo born, February 15</li>
						<li>Michelangelo dies, February 18</li>
						<li>Martin Luther (son of Martin and Katharina) dies, March 2</li>
						<li>William Shakespeare born, April 23</li>
						<li>John Calvin dies in Geneva, May 27</li>
						<li>Bullinger’s Second Helvetic Confession is adopted by many Reformed churches</li>
						<li>Andreas Vesalius’s death sentence for dissecting human bodies commuted in exchange for his pilgrimage to the Holy Land</li>
					</ul>
				</p>

				<p><b>1565</b> &mdash; 
					<ul>
						<li>Nicholas Amsdorf dies in Eisenach, May 14</li>
						<li>Martin Chemnitz begins writing Examination of the Council of Trent (completed 1573)</li>
					</ul>
				</p>

				<p><b>1567</b> &mdash; Philip of Hesse dies in Kassel, March 31</p>

				<p><b>1568</b> &mdash; Martin Chemnitz and Jacob Andreae begin work on uniting Lutheran territories and cities</p>
	</div>
</div>
		<div class="timeline-block">
		  <div class="timeline-img bounce-in">
		  </div> <!-- timeline-img -->
		  <div class="timeline-content bounce-in">
				<h3>1570</h3>

				<p><b>1570</b> &mdash; 
					<ul>
						<li>Pope Pius V excommunicates Queen Elizabeth</li>
						<li>p xlvi  John Brenz dies in Stuttgart, September 11</li> 
						<li>Margarethe Luther Kuhnheim dies</li>
					</ul>
				</p>

				<p><b>1571</b> &mdash; The Thirty-nine Articles establishes a more Calvinist form of Reformation in England</p>

				<p><b>1572</b> &mdash; St. Bartholomew’s Day Massacre of Protestant Huguenots in France, August 24–September 17</p>

				<p><b>1573</b> &mdash; 
					<ul>
						<li>Jacob Andreae publishes Six Christian Sermons</li>
						<li>Roman Confutation of the Augsburg Confession finally published</li>
					</ul>
				</p>
				<p><b>1574</b> &mdash; 
					<ul>
						<li>Crypto-Calvinists fully exposed in Wittenberg</li> 
						<li>Lutheranism restored by Augustus I</li>
						<li>Swabian Concord published</li>
					</ul>
				</p>
				<p><b>1575</b> &mdash; 
					<ul>
						<li>Matthias Flacius dies, March 11</li>
						<li>Hans Luther dies, October 27</li>
					</ul>
				</p>

				<p><b>1576</b> &mdash; Torgau Conference called by Elector Augustus I to begin Lutheran unity efforts, Formula of Concord’s “Epitome” (the “Torgau Book”) completed by Jacob Andreae</p>

				<p><b>1577</b> &mdash; 
					<ul>
						<li>Formula of Concord’s “Solid Declaration” completed at Bergen Abbey, Magdeburg</li>
						<li>Francis Drake begins circumnavigating globe</li>
					</ul>
				</p>

				<p><b>1578</b> &mdash; Chemnitz publishes Two Natures in Christ</p>
			</div>
		</div>
		<div class="timeline-block">
		  <div class="timeline-img bounce-in">
		  </div> <!-- timeline-img -->
		  <div class="timeline-content bounce-in">
				<h3>1580</h3>
				<p><b>1580</b> &mdash; Book of Concord published on the fiftieth anniversary of presentation of Augsburg Confession, June 25</p>

				<p><b>1582</b> &mdash; 
					<ul>
						<li>Gregorian calendar implemented by Pope Gregory XIII</li>
						<li>Conference at Quedlinburg, in which the authoritative Latin edition of the Book of Concord is approved, begins, December–January 1583</li>
					</ul>
				</p>

				<p><b>1584</b> &mdash; Latin Book of Concord published in Leipzig</p>

				<p><b>1586</b> &mdash; 
					<ul>
						<li>Martin Chemnitz dies in Braunschweig, April 8</li>
						<li>Colony of Roanoke established in Virginia</li>
					</ul>
				</p>

				<p><b>1588</b> &mdash; English defeat Spanish Armada</p>
			</div>
		</div>
		<div class="timeline-block">
		  <div class="timeline-img bounce-in">
		  </div> <!-- timeline-img -->
		  <div class="timeline-content bounce-in">
		    <h3>1590</h3>
		    <p><b>1590</b> &mdash; Jacob Andreae dies in Tübingen, January 7</p>

				<p><b>1592</b> &mdash; 
					<ul>
						<li>Saxon Visitation Articles published; Calvinism rooted out in Saxony</li>
						<li>Galileo invents the thermometer</li>
					</ul>
				</p>

				<p><b>1593</b> &mdash; 
					<ul>
						<li>Diet of Uppsala in Sweden upholds Lutheran doctrine</li>
						<li>Paul Luther dies, March 8</li>
					</ul>
				</p>

				<p><b>1595</b> &mdash; 
					<ul>
						<li>Zacharias Janssen develops compound microscope</li>
						<li>René Descartes, a key leader of the Enlightenment, born, March 31</li>
					</ul>
				</p>

				<p><b>1598</b> &mdash; 
					<ul>
						<li>Formula of Concord subscribed in Strasbourg</li>
						<li>French King Henry IV grants religious freedom to Protestants via Edict of Nantes, April 13</li>
				</ul>
			</p>

		  </div> <!-- timeline-content -->
		</div>
		<div class="timeline-block">
		  <div class="timeline-img bounce-in">
		  </div> <!-- timeline-img -->
		  <div class="timeline-content bounce-in">
		    <h3>1600</h3>
		    <p><b>1600</b> &mdash; 
		    	<ul>
		    		<li>Giordano Bruno burned at the stake for support of Copernican astronomy, February 17</li>
						<li>David Chytraeus dies in Rostock, June 25, First performance of Hamlet at Globe Theater</li>
					</ul>
				</p>
				<p><b>1618</b> &mdash; Thirty Years’ War begins</p>
		  </div> <!-- timeline-content -->
		</div>
	</div> <!-- timeline -->
</section>

Concordia: The Lutheran Confessions (St. Louis, MO: Concordia Publishing House, 2005), xxxviii–xlvi.
