html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0; }

/* Structure */
section {
  display: inline-block;
  width: 100%;
  margin: 30px auto;
  padding: 30px 30px 90px;
  border-bottom: 1px solid #e7e7e7; }

.main > div {
  max-width: 1280px;
  margin: auto; }

section > h2 {
  font-size: 1.5em;
  color: #777; }
