/* Global */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
}

a {
  color:#20DAA5;
  @include transition(color 800ms ease-in-out);
}

a:hover {
  color:#2BC297;
  text-decoration: none;
}

a:visited {
  color:#46B495;
}

hr {
  border: 0;
  margin: 20px 0;
  border-bottom: 1px solid #e7e7e7;
}

.screen-reader-text {
  @extend %visuallyhidden;
}

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0px null null 0px);
    @include size(100%);
  }
}

.bar {
  padding: 30px;
  margin-bottom:20px;
  background: rgba($gold, .3);
  border-radius: 5px;

  h4 {
    text-transform: none; 
    margin-top:0;

    a {
      text-decoration: none;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.three-bar-grid {
  .bar {
    @include columns(4);
  }
}
