/* Global */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
}

a {
  color:#20DAA5;
  transition: all 800ms ease;
}

a:hover {
  color:#2BC297;
  text-decoration: none;
}

a:visited {
  color:#46B495;
}

hr {
  border: 0;
  margin: 20px 0;
  border-bottom: 1px solid #e7e7e7;
}
