/*--------------------------------------------------------------
# Scaffoling
--------------------------------------------------------------*/
@mixin outer-container($local-max-width: $max-width) {
  @include clearfix;
  max-width: $local-max-width;
  margin: {
    left: auto;
    right: auto;
  }
}

.container, .wpb_wrapper {
	@include outer-container;
}

.content-area {
	@include span-columns(7);
	padding:30px 0 60px;
}

.widget-area {
	@include span-columns(3);
	@include shift(2);
	padding:30px 0 60px;
}