.site-footer {
	background: #354b59;
	padding:60px 0;
	color: #848e95;
	display: inline-block;
	width:100%;
}

.site-footer a {
	text-decoration: none;
}

.site-footer ul {
	margin:0;
	padding:0;

	li {
		list-style-type: none;
		margin-bottom: 20px; 

		a {
			color: #248389;
		}
	}
}

.site-footer li a {
	font-family: 'Montserrat';
	text-transform: uppercase;
	color:#1b898f;
	text-decoration: none;
}

.site-footer .footer-copyright {
	font-style: italic;
	text-align: center;
}

.footer-primary {
	@include span-columns(6);
}
.footer-secondary {
	@include span-columns(6);
}

.footer-social-buttons a {
	padding: 10px;
	color: #248389;
}
.footer-buttons a {
	color:white;
}

.footer-logos div {
	@include span-columns(6);
	height:80px;
}

.footer-logos div a {
	width: 100%;
  display: block;
  height: 100%;
}
.footer-logos .lcms-logo-white {
	background: url(images/lcms-logo-white.png);
  background-image: url(images/lcms-logo-white.svg), none;
  background-repeat: no-repeat;
}

.footer-logos .cph-logo-white {
	background: url(images/cph-logo-white.png);
  background-image: url(images/cph-logo-white.svg), none;
  background-repeat: no-repeat;
}

.footer-buttons .btn {
  font-size: 0.75em;
  padding: 16px 32px 18px;
}