.site-footer {
	background: #354b59;
	padding:60px 0;
	color: #848e95;
	display: inline-block;
	width:100%;
}

.site-footer a {
	text-decoration: none;
}

.site-footer ul {
	margin:0;
	padding:0;

	li {
		list-style-type: none;
		margin-bottom: 20px;
		font-family: 'Montserrat';
		text-transform: uppercase;

		a {
			color: $blue;
			text-decoration: none;
		}
	}
}

.site-footer .footer-copyright {
	font-style: italic;
	text-align: center;
}

.footer-primary {
	width:100%;
	@include breakpoint(small) { @include span-columns(6); }
}
.footer-secondary {
	width:100%;
	@include breakpoint(small) { @include span-columns(6); }

		div {
			margin-bottom: 3em;
		}
}

.footer-social-buttons {
	display: none;
	text-align: right;
	font-size: 1em;
  font-style: italic;
  color: rgb(69, 151, 160);

	a {
		padding:0 15px;
		color: $blue;
	
		&:last-child {
			margin-left:10px;
		}
	}

	i { font-size: 1.5em;}
} 
.footer-buttons {
	text-align: right;
 
 	a {
		color:white;
		margin-left:10px;
	}
}

.footer-logos {
	width: 100%;
	display:inline-block;
	padding:30px 0;
	
	
	.sponsors {
		width: 100%;
		@include breakpoint (medium) {width: 80%;}
		margin:auto !important;
		float: none;

		img {
			width: 100%;
			max-width: 250px;
			height: auto;
			opacity: 0.75;
			@include transition(opactiy 800ms ease-in-out);
			
			&:hover {
				opacity: 1;
			}
		}

		.cph-logo-white img {
    max-width: 200px;
    margin-top: 10px;
	  }
	  .lcms-logo-white img {
	    max-width: 210px;
	    margin-top: 15px;
		}
	}

	h4 {
	margin-bottom: 20px;
	font-size: 0.875em;
	line-height: 0.5;
  text-align: center;
  position: relative;
  z-index: 1;

	  &:before {
	  	border-top: 2px solid #848e95;
	    content: "";
	    margin: 0 auto;
	    position: absolute;
	    top: 50%;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 95%;
	    z-index: -1;
	  }
		
		  span {
		  background: #354b59;
		  padding: 0 15px; 
		}
		
	}
		div {
			width: 100%;
			text-align: center;
		@include breakpoint(small) { @include span-columns(4); }
		// height:80px;
	}
}

.footer-logos div a {
	width: 100%;
  display: block;
  height: 100%;
}
// .footer-logos .lcms-logo-white {
// 	@include background-image('lcms-logo-white');
// }

// .footer-logos .cph-logo-white {
// 	@include background-image('cph-logo-white');
// }

.footer-buttons .button {
  font-size: 0.75em;
  padding: 14px 12px 16px;
  @include breakpoint(small) { padding: 16px 32px 18px; }
}

.footer-email-signup h5 {
  font-size: 1em;
  font-style: italic;
  color: rgb(69, 151, 160);
}