.site-footer {
	background: #354b59;
	padding:60px 0;
	color: #848e95;
	display: inline-block;
	width:100%;
}

.site-footer a {
	color: #248389;
	text-decoration: none;
}

.site-footer ul {
	margin:0;
	padding:0;
}

.site-footer li {
	list-style-type: none;
	margin-bottom: 20px; 
}

.site-footer li a {
	font-family: 'Montserrat';
	text-transform: uppercase;
	color:#1b898f;
	text-decoration: none;
}

.site-footer .footer-copyright {
	font-style: italic;
	text-align: center;
}

.footer-primary {
	@include span-columns(6);
}
.footer-secondary {
	@include span-columns(6);
}

.footer-social-buttons a {
	padding: 10px;
}

.footer-logos div {
	width: 335px;
	float: left;
	height:80px;
}

.footer-logos div a {
	width: 100%;
  display: block;
  height: 100%;
}
.footer-logos .lcms-logo-white {
	background: url(images/lcms-logo-white.png);
  background-image: url(images/lcms-logo-white.svg), none;
  background-repeat: no-repeat;
}

.footer-logos .cph-logo-white {
	background: url(images/cph-logo-white.png);
  background-image: url(images/cph-logo-white.svg), none;
  background-repeat: no-repeat;
}