header.site-header {
  background: $grey;
  padding:10px 0 30px;
  font-family: $secondary-font;
  position: relative;
    .container {
      position: relative;
      z-index: 50;
    }

    .navigation-container.container {
      z-index: 90;
    }

    &.post-site-header {
      padding-bottom: 100px;
    }
}

body.page-id-107 .site-header, body.parent-pageid-107 .site-header {
  background: $grey url(images/ref-history.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.single-post .site-header, body.blog .site-header {
  background: $grey url(images/ref-theology.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.page-id-109 .site-header, body.parent-pageid-109 .site-header {
  background: $grey url(images/ref-worship.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.page-id-110 .site-header, body.parent-pageid-110 .site-header {
  background: $grey url(images/ref-media.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.page-id-111 .site-header, body.parent-pageid-111 .site-header {
  background: $grey url(images/ref-getinvolved.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.page-id-112 .site-header, body.parent-pageid-112 .site-header {
  background: $grey url(images/ref-resources-bg.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.page-id-131 .site-header, body.parent-pageid-131 .site-header {
  background: $grey url(images/ref-contact-header.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.page-id-375 .site-header, body.parent-pageid-375 .site-header {
  background: $grey url(images/ref-header-faces.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.home header.site-header {
    position:absolute;
    z-index: 10;
    background: transparent;
    width: 100%;
  }

body.home .site-branding .site-title {

  h2 {
    display: none;
  }

  img {
  width: 100%;
}

}

body.search {

  .container.navigation-container {
    min-height: 220px;
  }

}

.site-title  h2 {
  float: left;
  font-size: 16px;
  width:150px;
  @include breakpoint (medium) {width: 20%;}
  color: #DEC3A7;
  padding-top: 24px;
  text-transform: uppercase;

    a {
       color: #DEC3A7;
       text-decoration: none;
    }
}

.container.navigation-container {
    min-height: 100px;
    @include breakpoint(medium) { min-height: 200px;}
    @include breakpoint(large) { min-height: 300px;}
    position: relative;
    z-index: 90;
}
body.home .container.navigation-container {
    min-height: inherit;
}
.site-branding {
  width: 100%;
  // @include breakpoint(small) {
  //   @include span-columns(4);
  //   @include omega();
  // }
  @media (min-width: 51em) {
    @include span-columns(2);
    @include omega();
  }

  .site-title {
     // @include background-image('reformation-logo');
     width: 100%;

     img {
      width:100%;
     }

     a {
      width: 90px;
        @media (min-width: 1024px) {width: 110px;}
        height: 100%;
        display: block;
        float: left;

      }

      span {
        display: block;
      }
  }

}
@media (min-width: 1024px) {
  body.home .site-title a {
     width: 150px;
  }
}
.secondary-navigation {
  display: none;
  @media (min-width: 980px) {
  @include span-columns(10);
  font-size: modular-scale(0);
  }

  ul {
    text-align: right;

    li {
      display: inline-block;
      margin-left:0;

        a {
          color:white;
          text-decoration: none;
          padding:8px;
          text-shadow:0 1px 3px rgba(0, 0, 0, 0.75);
        }
    }
  }
}
.main-navigation {
  display: none;
  @media (min-width: 980px) {
    width:auto;
    float: right;
    display: block;
    @include margin(3em null null);
    text-transform: uppercase;
    font-weight: 900;
  }
   @media (min-width: 1150px) {
    @include span-columns(10);
    @include margin(3em null null);
  }

  ul {
    float: right;

    li {
      float: left;
      padding-bottom:10px;
      border-bottom: 2px solid rgba(255, 255, 255, .5);
      // @include transition (all 0.15s ease-in-out);
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      margin:0;

      &:hover {
        border-bottom: 2px solid $gold;

        .sub-menu {
          opacity: 1;
          pointer-events: all;
          -webkit-transition: -webkit-transform 0.15s ease, opacity 0.15s linear;
          transition: -ms-transform 0.15s ease, opacity 0.15s linear;
          transition: transform 0.15s ease, opacity 0.15s linear;

        }
      }
      a {
        color:white;
        text-decoration: none;
        @include breakpoint(medium) {padding:10px 15px;}
        font-size: 0.875em;
        @media (min-width: 850px) { font-size: 1em;}
        @media (min-width: 1125px) {padding:10px 25px;}
        text-shadow:0 1px 3px rgba(0, 0, 0, 0.75);
      }
      ul.sub-menu {
    opacity: 0;
    position: absolute;
  top: 126px;
  padding: 16px 0 20px;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
  border-top: 3px solid $gold;
  background: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 180px;
  // -webkit-transform: translateY(10px);
  //   -ms-transform: translateY(10px);
  //   transform: translateY(10px);
    li {
      padding:0;
      float: none;
      padding: 8px 15px;
      border:none;

      a {
        text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    text-transform: none;
    padding: 10px 0;
    width: 180px;
    color: #777777;
    text-shadow: none;
    background: #ffffff;

    &:hover {
      text-decoration: underline;
    }
      }
      }
    }
    }
  }
}



.footer-primary .sub-menu {
    display: none;
}

.menu-toggle {
  @extend %visuallyhidden;
}

.menu-secondary-navigation-container {
  @include span-columns(10);
  padding-top:12px;
}
.search-container {
  @include span-columns(2);
}

.search-container input.search-submit {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    border:none;
    background:transparent;
    display: none; //to be resolved
}

.search-container form.search-form {
    position: relative;
}

.search-container input.search-field {
    position: absolute;
    padding:0.5em;
}
header.entry-header {

  h1 {
    font-size: 4.25em;
    margin-bottom: 0;
    color:white;
    text-shadow:0 1px 3px rgba(0, 0, 0, 0.75);
    text-transform: none;
  }
}
body.home header.entry-header {
  @extend %visuallyhidden;
}

.header-breadcrumbs {
  color: rgba(255, 255, 255, .7);
  text-shadow:0 0 3px rgba(0, 0, 0, 0.5);
  font-size: 0.875em;
  text-transform: uppercase;

    a {
      color:white;
      text-decoration: none;
    }
}
.post-breadcrumbs {
font-family: $secondary-font;
font-size: 0.75em;
text-transform: uppercase;
// color: $lite-grey;
 color:#ccc;
  a {
    color:#ccc;
    // text-decoration: none;
  }
}
// #breadcrumbs > span > span > a {
//   display: none;
//
// }
#click-menu-label {
  font-family: $secondary-font;
  margin-top: 4px;
  text-transform: uppercase;
  font-size: 11px;
}
#click-menu, #click-menu .threeLines .line {
  border-radius: 5px;
}
#click-menu #RMX {
  font-size: 34px;
}

#responsive-menu .responsive-menu li {
  margin-bottom: 0;

  a {
    text-transform: uppercase;
    font-family: $secondary-font;
  }
}

#responsive-menu #responsive-menu-title {
  font-family: $secondary-font;
}

// Fix for link cursor
.tp-caption#slide-6-layer-15 {
    cursor: pointer;
}
