header {
  background: $grey;
  padding:30px 0;
}

.site-branding {
  float: left;
  width: 17.5%;
}

.secondary-nav {
  float: left;

  li {
    display: inline-block;
  }
}

.search {
  float: right;
}

.primary-nav {
  float: right;

  & li {
    display: inline-block;
  }
}
