header.site-header {
  background: $grey;
  padding:30px 0;
}

.site-branding {
  @include span-columns(2);
  @include omega();
}

.secondary-navigation {
  @include span-columns(10);

  ul {
    text-align: right;

    li {
      display: inline-block;
    }
  }
}
.main-navigation {
  @include span-columns(10);

  ul {
    text-align: right;
    
    li {
      display: inline-block;
    }
  }
}

.menu-toggle {
  @extend %visuallyhidden;
}