.widget-area aside#text-4, .widget-area aside#text-5 {
    background-color: $lite-grey;
    padding: 20px;
    font-size: 0.875em;
    border-right: 1px solid #dedad6;
    border-bottom: 1px solid #dedad6;
    color:#867F76;
 
 h2 {
    font-size: 1.125em;
    margin: 0 0 20px;
    padding: 0 10px 10px;
    border-bottom: 1px solid $grey;
    text-align: center;
    color: $grey;
	}

 li {
    padding: 20px 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-left:0;

	    &:last-child {
	    border: none;
		}
	}

	.bullet-list {

		margin-top:14px;

		li {
			padding:0;
			border:none;
		}

	}

}

.widget-area {
	
	aside {
		margin-top: 30px;

	&:first-child {
		margin:0;
	}
	}		

}
.email-signup-sidebar {
	background:$slate;
	padding:20px;

	h4 {
		font-size: 1.1em;
		color:white;
	}
	
	p {
		color:$lite-blue;
		font-size: 1em;
		line-height:1.3;
	}
	input {
		padding:0.5em;
		font-size: 0.875em;
		margin-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.button-inset button[type=submit] {
		position: relative;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 4px;
		width: 100%;
		border-color:$darkslate;
		background-color: $darkslate;

	}
}

.hymn-competition-sidebar {
	background:$grey;
	padding:20px;

	h4 {
		font-size: 1.1em;
		color:white;
	}
	
	p {
		color:$lite-grey;
		font-size: 1em;
		line-height:1.3;
	}

	.button {
		background-color: $blue;
		color:white;
		border-color: $darkslate;
	}
}

.community-grant-sidebar {
	background:$brown;
	padding:20px;

	h4 {
		font-size: 1.1em;
		color:white;
	}
	
	p {
		color:$lite-grey;
		font-size: 1em;
		line-height:1.3;

		span {
			font-size:0.875em;
		}
	}

	.button {
		background-color: $orange;
		color:white;
		border-color: $orange;
	}
}
