.widget-area aside {
    background-color: $lite-grey;
    padding: 20px;
    font-size: 0.875em;
    border-right: 1px solid #dedad6;
    border-bottom: 1px solid #dedad6;
    color:#867F76;
 
 h2 {
    font-size: 1.125em;
    margin: 0 0 20px;
    padding: 0 10px 10px;
    border-bottom: 1px solid $grey;
    text-align: center;
    color: $grey;
	}

 li {
    padding: 20px 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);

	    &:last-child {
	    border: none;
		}
	}

	.bullet-list {

		margin-top:14px;

		li {
			padding:0;
			border:none;
		}

	}

}

