.widget-area aside:first-child {
    background-color: $lite-grey;
    padding: 20px;
    font-size: 0.875em;
    border: 1px solid #dedad6;
 
 h2 {
    font-size: 1.125em;
    /* margin: 0 0 20px; */
    padding: 0 10px 10px;
    border-bottom: 1px solid $grey;
    text-align: center;
    color: $grey;
	}

 li {
    padding: 20px 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);

	    &:last-child {
	    border: none;
		}
	}
}

