.entry-footer {
	font-family: $secondary-font;

		span {
		display: block;
		margin:20px 0;

		&.cat-links {
			text-align: right;
			font-size: 0.7em;

		}
	}
}
.post-navigation {
	margin-bottom: 20px;
  width: 100%;
  float: left;
  border-top: 1px solid rgba($grey, 0.15);
  border-bottom: 1px solid rgba($grey, 0.15);

  	.nav-links {
  		div {
  		width: 49.97965826%;
  		float: left;
    	
    	&.nav-previous {
    		border-right: 1px solid rgba($grey, 0.15);
    	}
    	a {
    		padding: 30px 10px;
    		display: block;
    		text-decoration: none;
    		font-family: $secondary-font;
    		font-size: 1.2em;
    	}
    }

  	}
}

.tags-links a {
  text-transform: capitalize;
  display: inline-block;
  padding:12px 26px;
  border-radius: 4px;
  background: rgba( $grey, 0.1 );
  text-decoration: none;
  font-family: $secondary-font;
  font-weight: 400;
  color: $slate;
  font-size: 0.7em;
  text-shadow: none;
  box-shadow: none;
}