.entry-footer {
	font-family: $secondary-font;

		span {
		display: block;
		margin:20px 0;

		&.cat-links {
			text-align: right;
			font-size: 0.7em;

		}
	}
}
.post-navigation {
	@include breakpoint(large) {
    @include span-columns(8);
    @include shift(2);
  }
  margin-bottom: 20px;
  border-top: 1px solid rgba($grey, 0.15);
  border-bottom: 1px solid rgba($grey, 0.15);

  	.nav-links {
  		div {
  		width: 49.97965826%;
  		float: left;
    	
    	&.nav-previous {
    		border-right: 1px solid rgba($grey, 0.15);
    	}
    	a {
    		padding: 30px 10px;
    		display: block;
    		text-decoration: none;
    		font-family: $secondary-font;
    		font-size: 1.2em;
    	}
    }

  	}
}

.tags-links a {
  text-transform: capitalize;
  display: inline-block;
  padding:12px 26px;
  border-radius: 4px;
  background: rgba( $grey, 0.1 );
  text-decoration: none;
  font-family: $secondary-font;
  font-weight: 400;
  color: $slate;
  font-size: 0.7em;
  text-shadow: none;
  box-shadow: none;
}

.comments-area {
  @include breakpoint(large) {
    @include span-columns(8);
    @include shift(2);
  }
}

article.type-post a.button-link {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: $secondary-font;
  transition: all 500ms ease;

  &:hover {
    padding-bottom:0;
    border: none;
  }
}

.entry-meta {
  margin-bottom: 15px;
  font-family: $secondary-font;
  font-size: 14px;
  opacity: 0.5;
  transition: all 500ms ease;

  &:hover {
    opacity: 1;
  }

  a {
    color: $grey;
    transition: all 500ms ease;
    padding:0;

    &:hover {
      padding-bottom: 3px;
      border-bottom: 2px solid $link-color;
      color: $link-color;
    }
  }
}